@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --trademark-blue: rgb(47, 0, 255);
  background: var(--trademark-blue);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
header .logo a {
  text-decoration: none;
  color: #fff;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  background: var(--trademark-blue);
  transition: 0.5s;
  z-index: 9;
}
.showcase.active {
  right: 300px;
}
.text {
  position: relative;
  z-index: 10;
}
.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p {
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover {
  letter-spacing: 6px;
}

/* .social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li {
  list-style: none;
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
} */

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul {
  position: relative;
}
.menu ul li {
  list-style: none;
  text-align: right;
}
.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #fff;
}
.menu ul li a:hover {
  color: #03a9f4;
}
img {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  min-width: 360px;
  height: auto;
  margin-top: 40px;
  z-index: 13;
}
.wrapper {
  position: absolute;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.wrapper.active {
  right: 300px;
}
.featured {
  position: fixed;
  width: calc(100vh * (640 / 480));
  height: calc(100vw * (480 / 640));
  min-width: 100%;
  min-height: 100%;
  top: 0;
  right: 0;
  transition: 0.5s;
  z-index: -1;
  /* margin-top: -1px; removes viewport's top border */
}
.featured.active {
  right: 300px;
}
.mpeg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.mpeg.active {
  right: 300px;
}

.collapsible {
  background-color: var(--trademark-blue);
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: white;
}

.content ul li {
  list-style: none;
  text-align: left;
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
    padding-top: 60px;
  }
  .text h3 {
    font-size: 2em;
  }
  img {
    min-width: 300px;
    max-width: 75%;
  }
  video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}

/* 

TO DO:

- make it more accesibility friendly e.g. write alt text for images;

*/
